@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: white;
  background: #23395d;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-heading;
}

p {
  @apply leading-body;
}

h1 {
  @apply text-3;
}

h2 {
  @apply text-3;
}

h3 {
  @apply text-2;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

small {
  @apply text-sm;
}

@screen desktop {
  h1 {
    @apply text-7;
  }

  h2 {
    @apply text-6;
  }

  h3 {
    @apply text-4;
  }

  h4 {
    @apply text-3;
  }

  h5 {
    @apply text-2;
  }
}
